 table.form-table {
     font-family: verdana,arial,sans-serif;
     font-size:11px;
     color:#ffffff;
     border-width: 1px;
     border-color: #666666;
     border-collapse: collapse;
 }
 table.form-table th {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #666666;
     background-color: #dedede;
 }
 table.form-table td {
     border-width: 1px;
     padding: 8px;
     border-style: solid;
     border-color: #666666;
 }

 table.form-table td span{
     font-size:15px;
     font-weight: bold;
 }

 .div-bottom{
     width:100%;
     position:absolute;
     bottom:10px;
 }

 .title-time{
     font-size: 12px;
     position:relative;
     right:20px;
     float:right;
 }
 .col-md-3{
 	padding-left:15px;
 	padding-right:15px;
 }
